<!-- <nav class="navbar navbar-default"> -->
	<footer>
	 <h4>
        ENJOY RESPONSIBLY
        </h4>
        <p>
		You must be of legal drinking age in the country in which you are accessing this site. </br>
        By entering you agree to our terms & conditions and our privacy statement.
        </p>
        <p>
			&copy; Designed by Team-J
		</p>
       
	</footer>
	<!-- </nav> -->
